.main__wrapper{
    min-height:71vh;
}

.headingg{
    color: #007bff;
}

.headingg:hover{
    color: #007bff;
    text-decoration: underline;
}

.offer_strip{
    background-color: #303ab2;
    color: #fff;
    padding: 10px;
    line-height: 12px;
    font-weight:bold;
}

.text-decoration-underline{
    text-decoration: underline;
}

.mt120{
    margin-top: 120px;
}

/*.main-banner-carousel-item a img{*/
/*    height: 450px;*/
/*}*/

/*login page*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.login-bg{
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
}

.login {
    background-color: #fff;
    padding: 20px 0px;
}

.login .in {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    display: block;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #343a40;
    padding: 10px 0px;
    background: transparent;
    line-height: normal;
}

.login .form-group {
    position: relative;
    margin-bottom: 35px;
}

.login .in:focus {
    outline: none;
}

.login label {
    color: #343a40;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-weight: 100;
}

.login h3 {
    font-weight: bold;
    color: #343a40;
}

.login .in:focus ~ label,
.login .in:valid ~ label {
    top: -20px;
    color: #343a40;
}

.login .bar {
    position: relative;
}

.login .bar:before,
.login .bar:after {
    content: "";
    height: 2px;
    bottom: 1px;
    position: absolute;
    background: black;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.login .bar:before {
    left: 50%;
}

.login .bar:after {
    right: 50%;
}

.login .in:focus ~ .bar:before,
.login .in:focus ~ .bar:after {
    width: 50%;
}

.login .in:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.login a {
    color: #343a40;
}

.login a:hover {
    color: #343a40;
}

.login-btn {
    width: 100%;
    color: #fff !important;
    border-radius: 6px;
    border: 1px solid #000;
    background-color: #000;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

.text-violet {
    color: #4f91ff !important;
}

.lh40 {
    line-height: 40px;
}

/*login page end*/



/*---------------------
  Home Page Begin
-----------------------*/

.backbtn span{
    font-weight: bold;
}
section{
	padding-bottom: 50px;
}
.container-fluid{
	max-width: 1256px;
}
.carousel-control-next, .carousel-control-prev{
	width: 5%;
}
.carousel-control-prev-icon {
    background-image: url(../img/icon/left-arrow.png);
}
.carousel-control-next-icon {
    background-image: url(../img/icon/right-arrow.png);
}
.carousel-control-next, .carousel-control-prev {
    width: 4%;
    background: #fff; 
    opacity: 1; 
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
	opacity: 1;
}
.category-name{
	padding-bottom: 10px;
    padding-top: 10px;
	text-align: center;
	font-weight: bold;
    font-size: 20px;
}
h3.tittle{
	font-weight: bold;
    padding: 20px 0px;
    font-size: 25px;
}
.category-block{
	padding: 8px;
}
.direct-item-block{
	margin: 5px;
    border: 1px solid #e7e7e7;
    height: 305px;
}
.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /*padding-left: 15px;*/
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.horizontal-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.direct-image_product-name {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px;
}
.direct-image_product-prize {
    font-size: 18px;
    padding: 10px 5px 0px 5px;
    color: #f25139;
}
.mr2{
	margin-right: 2px;
}
.product__image img{
    height: 220px;
    object-fit: cover;
    object-position: top;
    margin: auto;
    display: block;
}

/*---------------------
  Home Page End
-----------------------*/

/*---------------------
  Product List Page Begin
-----------------------*/

.product_filters{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f8f9fa!important;
}

.product_filters select{
    color: #5d5e5c !important; 
}

.filters-styles {
    width: 100%;
    border: 1px solid #ecedeb;
    padding: 7px 7px;
}

.whishlist-icon{
    position: absolute;
    right: 7%;
    top: 3%;
    font-size: 15px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 50%;
    color: #424242;
}

.product{
    height: 410px;
}

.product-price-block{
    padding-top: 12px;
    color: #f25139;
}

.prodict-list-price{
    font-size: 18px;
}

.product-name{
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.product-information{
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.product-information img{
    height: 315px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.product-information .new-btn{
    right: 6%;
    bottom: 28%;
    background: #fff;
    padding: 5px 7.5px;
    position: absolute;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 3px;
}

/*---------------------
  Product List Page End
-----------------------*/

/*---------------------
  Checkout Page Begin
-----------------------*/

.checkout-section h4.tittle{
	padding: 6px 0 11px;
    font-weight: 700;
}
.shipping-tabs{
	margin-bottom: 25px;
}
.shipping-method{
	margin: 0;
    color: #3d464d;
    font-size: 16px;
}
.shipping-method-description{
	margin-top: 5px;
}
.shipping-tab{
	border: solid 1px #dae0e1;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    margin: 5px 0px;
    cursor: pointer;
}
.address-tittle{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}
.address-form label{
	font-size: 14px;
	font-weight: 700;
}
.form-control{
	height: 42px;
	margin: 2px 0 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border-radius: 0px;
}
.input-group.input-group-addon:first-child {
    border: 1px solid #dddfe2;
    border-right: 0;
}
.input-group-addon {
    padding: 14px 10px;
    font-size: 14px;
    line-height: .9;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 2px;
    vertical-align: middle;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.form-control:focus {
    border-color: #c8c9c6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(200,201,198,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(200,201,198,0.6);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b1b1b1 !important;
  font-size: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b1b1b1 !important;
  font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b1b1b1 !important;
  font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b1b1b1 !important;
  font-size: 13px;
}
.search-location{
	width: 50%;
    position: absolute;
    top: 50px;
    left: 10px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search.header-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 2.375rem;
    line-height: 6rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    top: 27px;
}
.search-control:focus {
    border-color: #c8c9c6;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;,
}
.location-map{
	margin-bottom: 20px;
}
.pos-relative{
	position: relative;
}
.pos-absolute{
	position: absolute;
}
.get-my-location{
	position: absolute;
    right: 10px;
    top: 50px;
    background: #fff;
    padding: 6px;
}
.icon-target {
    margin-top: 6px;
    background-image: url(../img/icon/get-location.svg);
    width: 16px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 5px 5px 0px 5px;
    float: left;
    margin-top: 7px;
}
.get-my-location div i.fa.fa-map-marker {
    padding: 0px 5px 0px 5px;
    color: #00a8dd;
}
span.location-text {
    font-size: 12px;
    color: #00a8dd;
}
.checkout-section .small{
	color: #bdc3c7;
	font-size: 12px;
}
.checkout-checkbox{
	width: 18px;
	height: 18px;
	margin-right: 10px;
}
.card-saving-text{
	font-size: 14px;
	position: absolute;
}
.checkout-box{
	padding: 13px 20px;
	/*border: 1px solid #edeff1;*/
	box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
}
.heading strong {
    font-weight: normal;
    font-size: 18px;
    display: block;
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ecf0f1;
    margin-bottom: 15px;
}
.px8{
	padding-right: 8px;
	padding-left: 8px;
}
.shopping-cart-item-section {
    padding: 10px 0px;
    border-bottom: 2px solid #ecf0f1;
}
.checkout-product-name{
	font-size: 13px !important;
	margin-bottom: 0px;
	margin-bottom: 5px;
}
.item-subtotal{
	padding: 13px 0 15px;
	border-bottom: 2px solid #ecf0f1;
}
.standinfo{
	padding: 13px 0 15px;
	border-bottom: 2px solid #ecf0f1;
}
.checkout-stand-info{
	display: block;
    font-weight: normal;
    color: #72818d;
}
.item-total{
	padding: 13px 0 15px;
    font-size: 17px;
    padding-bottom: 0px;
}
.payment-info{
	padding: 13px 20px 13px 0px;
    border-bottom: 1px solid #edeff1;
}
span.expireLabel {
    color: #919193; 
   	font-size: 16px;
   	font-weight: normal;
}
.card-label{
	padding-left: 100px;
    margin-bottom: 20px;
}

.card-radio-button{
position: absolute;
    top: 13px;
}
label img.car-image{
	position: absolute;
    left: 50px;
    top: 9px;
}
.block-main-title {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.payment-method-section {
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
}
.user_shipping_details {
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
}
.price-summary-details{
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
}
.price-summary-head{
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 16px;
}
.price-sum-details{
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    padding: 15px;
}

/*---------------------
  Checkout Page End
-----------------------*/

/*---------------------
  Cart Page Begin
-----------------------*/

.border-right{
    border-right: 1px solid #e0e0e0;
}
.itemblock-leftblock {
    padding-top: 32px;
}
.itemblock-itemheader{
    padding: 8px 12px 18px;
}
.itemblock-itemheader div {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
.itemblock-totalcartvalue {
    float: right;
}
.itemcontainer-item {
    background: #fff;
    font-size: 14px;
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    padding: 12px 12px 5px 12px;
    position: relative;
}
.item-image-block img{
    width: 111px;
    height: 148px;
}
.itemcomponents-sellerdata {
    font-size: 12px;
    color: #94969f;
}
.itemcomponent-itemsize-n-color{
    margin: 10px 0;
}
.itemcomponent-itemsize-n-color select,
.itemcomponent-itemquantity-n-price select{
    width: 80px;
    background-color: #ededed;
    border: none;
    border-radius: 2px;
    margin-right: 10px;
}
.itemcomponent-colorstyles{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 7px;
}
.itemcomponent-itemquantity-n-price.itemcomponent-prize{
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}
.item-component-actualprize{
    text-decoration: line-through;
    margin-right: 5px;
}
.itemcomponent-offprize{
    color: red;
}
.itemcomponent-remove-n-whishlistblock{
    margin: 12px;
}
.itemcomponent-remove-btn{
    border-right: 1px solid #e0e0e0;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.itemcomponent-whishlist-btn{
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 13px;
}
.addtowishlist-wishlistblock {
    display: block;
    font-weight: 600;
    padding: 16px 12px 15px 16px;
    margin-top: 24px;
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
}
.addtowishlist-wishlisttext {
    margin-left: 10px;
    font-size: 14px;
    color: #282c3f;
}

.moveToWishlistHeartIcon{
    font-size: 17px;
    color: black;
}
.desktopContinueBtn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #000;
    border: none;
}

.order-success-styles{
    margin: 120px auto auto auto;
    text-align: center;
}

/*Checkout Page MOBILE VIEW */

.checkout-back-icon {
    float: left;
    width: 10px;
    position: relative;
    z-index: 5;
    margin-top: 5px;
}

.checkout-maintitle-block {
    float: left;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 0 0 #ccc;
    background-color: #fff;
    padding: 10px;
}

.checkout-maintitle {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 3px;
    text-transform: uppercase;
}
.cart-view-details a {
    width: 100%;
    font-size: 14px;
    color: #fd7685;
    margin-top: 9px;
    text-decoration: none;
}
.qty-count {
    width: 22px;
    border: 1px solid #ccc;
    text-align: center;
    height: 22px;
    border-radius: 5px;
    font-size: 9px;
    padding-top: 4px;
}
.num-count {
    width: 40px;
    text-align: center;
}
.qty {
    width: 40px;
    height: 20px;
    border: none;
    text-align: center;
    background: none;
}

.cart-prod-img {
    float: left;
    width: 72px;
}
.cart-product-info {
    display: block;
    margin-left: 80px;
    /*padding-left: 10px;
    float: left;*/
}

.cart-product-des {
    width: 100%;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    margin-top: 3px;
}
.cart-product-mainblock {
    float: left;
    width: 100%;
    padding-top: 10px;
}
.product-block .cart-product-singleitem {
    float: left;
    width: 100%;
}
.cart-prod-name {
    font-size: 14px;
}
.cart-customize {
    float: left;
    width: 100%;
    margin-top: 3px;
}
.cart-customize .free-size {
    float: left;
    width: 50px;
    position: relative;
    background-size: 22px;
    background-position: 100% -1px;
    background-repeat: no-repeat;
}
.cart-customize .quality {
    float: left;
    width: 85px;
    padding-left: 18px;
    margin-left: 15px;
    position: relative;
}
.cart-customize .quality::after {
    content: "|";
    position: absolute;
    left: 0;
    top: 0;
}
.cart-customize .tit {
    float: left;
    font-family: ceraRegular, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #000;
    position: absolute;
    z-index: -1;
}
.free-size select {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #000;
    background-color: #fff;
    border: 0;
    padding: 2px 1px;
    border-radius: 3px;
    margin-left: 5px;
}
.free-size option {
    min-height: 0.9em !important;
}

.qty select {
    float: right;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #000;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-left: -2px;
}
.prod-estimated-days {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.coupon-column {
    float: left;
}
.coupon-img {
    width: 26px;
}
.cart-coupon-code {
    width: 100%;
    padding: 11px 20px;
    border: 1px solid #000;
}
.or {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 25px;
}
.collection label {
    margin-bottom: 0rem;
}
.couponlist .radio {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: solid 1px #000;
    margin-left: 7px;
    margin-right: 8px;
    position: absolute;
    left: 7px;
    top: 5px;
}
.couponlist .detail {
    float: left;
    width: 100%;
    padding: 12px 10px;
    position: relative;
    padding-left: 40px;
    border: dashed 1px #999;
}
.couponlist .radio {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: solid 1px #000;
    margin-left: 7px;
    margin-right: 8px;
    position: absolute;
    left: 22px;
    top: 8px;
}
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.couponlist input[type="radio"]:checked ~ .radio::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    left: 2px;
    top: 2px;
    background-color: #000;
}
.couponlist input[type="radio"]:checked ~ .detail {
    box-shadow: 0 0 6px 0 rgba(17, 48, 140, 0.61);
}
.couponlist input[type="radio"] {
    display: none;
}
.cart-cancel-btn {
    font-size: 14px;
    background-color: #f3f0f0;
    color: #000;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 0;
    border: solid 1px #f3f0f0;
}
.cart-apply-btn {
    font-size: 14px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: 0;
    border: solid 1px #000;
    padding-top: 14px;
    padding-bottom: 14px;
}
.cart-code {
    float: left;
    width: 100%;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(66, 65, 65, 0.08);
    background-image: linear-gradient(to right, rgba(255, 234, 157, 0.24), rgba(255, 209, 100, 0.63));
    padding: 12px 8px 12px 5px;
}
.coupon-text {
    font-size: 16px;
    color: #000;
    margin-left: 10px;
}
.cart-code .drop {
    float: right;
    width: 8px;
    margin-top: 3px;
    transition: all 0.3s ease;
}
.cart-couponlist .detail .saved {
    float: left;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    color: #5bcf96;
    margin-top: 6px;
}
.detail .note {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 1.17;
    color: #999;
    margin-top: 6px;
}
.head .drop.fas.fa-chevron-right {
    float: left;
    width: 100%;
}
.summary-block {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
.shipping-details {
    float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}
.summary-block .head {
    float: left;
    width: 100%;
    height: 17px;
    /*border-bottom: solid 1px #000;*/
}
.summary-block .head .title {
    float: left;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    /*margin-left: 15px;*/
}
.price-summary-block {
    float: left;
    width: 100%;
    /* padding-left: 10px; */
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}
.disc {
    color: #008945;
}
.apply-coupon {
    color: #fd7685;
}
.saving-column {
    float: left;
    width: 100%;
    border: dashed 1px #979797;
    padding: 7px 8px 10px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.saving-column.title {
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-top: 6px;
}
.proceed-column {
    position: fixed;
    width: 100%;
    height: 72px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    bottom: 0;
    left: 0;
    z-index: 6;
    padding: 11px 10px;
    display: flex;
}
.cart-continue-btn {
    height: 50px;
    background-color: #000000;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    width: 40%;
    margin: auto;
    border-radius: 5px;
}
img.product-colour-img.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* End of Checkout page MOBILE VIEW */

/*---------------------
  Cart Page End
-----------------------*/

/*---------------------
  Address Page Begin
-----------------------*/

.addressList-base-titleContainer {
    margin-bottom: 12px;
    height: 40px;
}
.addressList-base-title {
    float: left;
    font-weight: 600;
    color: #282c3f;
    font-size: 18px;
    margin: 12px 0;
}
.addressList-base-addAddressButton {
    float: right;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #282c3f;
    margin: 7px 0 6px;
    padding: 8px 16px 7px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
}
.addressList-base-defaultTitle {
    font-size: 12px;
    font-weight: 600;
    /*margin: 12px 0 10px;*/
    color: #535766;
    line-height: 50px;
}
.addressBlocks-base-block {
    /*border: 1px solid #eaeaec;*/
    padding: 19px 16px 16px 48px;
    margin-bottom: 8px;
    vertical-align: top;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 1px 17px 1px #e0e0e0;
}
.addressbase-radio-btn{
    position: absolute;
    left: 20px;
    top: 20px;
}
.addressDetails-base-name {
    font-weight: 600;
    font-size: 14px;
    color: #282c3f;
    text-transform: capitalize;
    word-break: break-all;
}
.addressDetails-base-desktopAddressTitle {
    display: flex;
    align-items: baseline;
}
.addressbase-radio-btn{
    width: 16px;
    height: 16px;
}
.addressDetails-base-addressType {
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 20px;
    color: #03a685;
    font-weight: 600;
    border: 1px solid #03a685;
    margin-left: 8px;
    line-height: 12px;
    background-color: #fff;
}
.addressDetails-base-addressField{
    margin-top: 12px!important;
    word-break: break-all;
}
.addressDetails-base-mobile {
    margin: 12px 0 16px;
}
.addressServiceability-base-bullet {
    display: inline-block;
    margin-right: 3px;
}
.addressBlocks-base-btns {
    position: relative;
    margin: 16px 0;
}
.addressBlocks-base-edit, .addressBlocks-base-remove {
    color: #282c3f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #282c3f;
    border-radius: 4px;
    padding: 6.5px 16px;
}
.addressBlocks-base-remove {
    float: left;
    width: 80px;
}
.addressBlocks-base-edit {
    width: 58px;
    margin-left: 16px;
}
.addressList-base-addBlock {
    box-shadow: 0 0 4px rgba(40,44,63,.08);
    /*height: 72px;*/
    padding: 27px 20px 26px 20px;
    margin-bottom: 25px;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    border: 1px dashed #d4d5d9;
}
.addressList-base-label {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #ff3f6c;
}
.addressbase-form-control{
    border-radius: 4px ;
}
.address__block{
    margin-top: 20px;
}
.address__block .in {
    border: 1px solid #e0e0e0;
    display: block;
    font-size: 14px;
    color: #94969f;
    padding: 10px;
    background: transparent;
    line-height: normal;
    width: 100%;
    border-radius: 3px;
}
.address__block .form-group {
    position: relative;
    margin-bottom: 16px;
}
.address__block .in:focus {
    outline: none;
    border: 1px solid #282c3f;
}
.address__block label {
    color: #94969f;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-weight: 100;
}
.address__block .in:focus ~ label,.address__block .in:valid ~ label {
    top: -11px;
    color: #282c3f;
    background-color: #fff;
    padding: 0px 5px;
}
.address__block .bar {
    position: relative;
}
.address__block .bar:before,.address__block .bar:after {
    content: '';
    height: 2px;
    bottom: 1px;
    position: absolute;
    background: black;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.address__block .bar:before {
    left: 50%;
}
.address__block .bar:after {
    right: 50%;
}
.address__block .in:focus ~ .bar:before,.address__block .in:focus ~ .bar:after {
    width: 50%;
}
.address__block .in:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
.address__block a {
    color: white;
}
.addressForm-base-formHeader {
    padding: 16px 0;
    font-size: 12px;
    font-weight: 600;
    color: #282c3f;
}
.addressForm-base-addressTypeIcon.addressForm-base-selectedAddressType {
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
    font-weight: 600;
    background-color: #fff;
}
.addressForm-base-addressTypeIcon {
    padding: 4px 16px;
    border: 1px solid #282c3f;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 16px;
    background-color: transparent;
}
.addressbase__text{
    margin-top: 20px;
}
.addressForm-base-defaultAddress {
    margin-left: 8px;
    font-size: 14px;
}
.addressbase__button{
    text-align: center;
    margin-top: 20px;
}
.addressbase_addaddress_button{
    background: #ff3f6c;
    border: 2px solid #ff3f6c;
    width: 200px;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}


/*---------------------
  Address Page End
-----------------------*/

/*---------------------
  My Orders
-----------------------*/

.order-block{
    /*border: 1px solid #ccc;*/
    margin: 0px 5px 5px 5px;
    border-radius: 3px;
    padding: 5px;
}
.orders-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #666;
}
.order-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #666;
    font-weight: bold;
}
.order-items{
    border: 1px solid #a2a2a2;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 2px;
}
.view-more-details-btn{
    background: #00c0ef !important;
    border: 1px solid #00c0ef;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* My Orders */

.order-block {
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.orders-title {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #666;
}
.order-content {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #666;
    font-weight: bold;
}
.order-items {
    border: 1px solid #a2a2a2;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 2px;
}
.view-more-details-btn {
    background: #000 !important;
    border: 1px solid #000;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    float: right;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

/* End of My Orders */

/*---------------------
  My Orders End
-----------------------*/

/* Order Details */

a.cancel-order-btn:hover {
    color: #666;
}
.order-items-block {
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0px;
}
.items-count {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin: 6px 0px;
}
.cancel-order-btn {
    border: 1px solid #000;
    padding: 5px 10px;
    float: right;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}
.track-order-btn {
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    margin: 5px 0px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #000;
}
.order-details {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}
span.payment-method-name {
    padding-left: 20px;
}
.payment-section {
    margin: -25px 5px 5px 5px;
}
.payment-title {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 5px 0px;
    font-weight: bold;
}
.payment-details {
    padding: 10px;
    box-shadow: 0px 1px 17px 1px #e0e0e0;
    border-radius: 5px;
}

@media (max-width: 767px){
    .payment-section {
        margin: 0px 15px 5px 15px;
    }
}
.success-img{
    position: relative;
}
 .checkmark-block {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #60c878;
    border: 5px solid #fff;
    margin: auto;
}

/* Order Details End */

/*---------------------
  Product details Page Begin
-----------------------*/

img.product_color_img{
    height: 50px;
    width: 50px;
    border: 1px solid #ececec;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}
img.product_color_img:focus{
    border-bottom: 5px solid #000 !important;
} 
.product__size{
    border-radius: 90px;
    border: 1px solid grey;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
}

/*---------------------
  Product details Page End
-----------------------*/

@media (min-width: 280px) and (max-width: 991px){
	section{
		padding-bottom: 20px;
		/*padding-left: 15px;
		padding-right: 15px;*/
	}
	.sm-px0{
		padding-left: 0px;
		padding-right: 0px;
	}
	.search-location {
    width: 94%;
}

@media (max-width: 599.5px){
    .product-information:nth-child(odd) .product{
        padding-right: .5px;
    }
    .product-information:nth-child(even) .product{
        padding-left: .5px;
    }
    .product-information{
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .product-information img{
        height: 250px;
    }
    .product-information .new-btn {
        bottom: 28%;
    }
    .product-price-block, .product-name {
        padding-left: 8px;
        padding-right: 8px;
    }

}