.add-new-btn{
	color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
    margin:0px 15px;
}
.add-new-btn:hover, .add-new-btn:focus{
	color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}
.back-btn{
	color: #666;
    background-color: #fff;
    border-color: #ddd;
    margin:0px 15px 0px 0px	;
}
.back-btn:hover, .back-btn:focus{
	color: #666;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
.save-btn{
    color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
}
.save-btn:hover, .save-btn:focus{
    color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}
i.fa.fa-plus, i.fa.fa-reply{
	font-size: 15px;
	vertical-align: middle;
}
.logo-name {
    font-weight: bold;
    font-size: 30px;
    color: #0fc8ff;
}
.logo-name-small {
    font-weight: bold;
    font-size: 25px;
    color: #0fc8ff;
}
.inprogress{
	margin-top: 225px;
}
.mandatory{
	color: red;
}
.sbt-btn{
	margin: 0px 1.5rem 1.5rem 0px;
}

/* Add Sub Category multiselect */
.multi-select .btn-group{
    border: 1px solid #ddd;
    width: 100%;
}

.multi-select .btn-group button{
    text-align: left;    
}

.multi-select .multiselect-container li a{
    color:black;
}

.multi-select .multiselect-container li a input{
    margin-right:10px;
}

/**/
@media (min-width: 576px) and (max-width: 767px){
	.inprogress{
		margin-top: 100px;
	}
}